.button:hover {
    background: #bbbbbb;
    cursor: pointer;
}

.button {
    background: $blue;
    color: white;
    border: none;
    border-radius: 2px;
    display: inline-block;
    font-size: $m-size;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--secondary {
    background: $red;
}