
.button--clear {
    background: none;
    border: none;
    border-radius: 50%;
    color: black;
    font-size: 44rem;
    padding: 1px;
    transition: background 3s ease;
}

.button--clear:hover {
    background: #bbbbbb;
    cursor: pointer;
}