.button:hover, #button:hover, #button--secondary:hover {
    background: #bbbbbb;
    cursor: pointer;
}

.button, #button {
    background: $blue;      
    border: none;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: $m-size;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    text-transform: capitalize;
}

//Material UI requires Id to style root component. Cannot give more than one ID, so we have some duplicate code.
#button--secondary {
    background: $red;
    border: none;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: $m-size;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    text-transform: capitalize;
}


.button--secondary {
    background: $red;
}

.button--link {
    background: none;
}