// Colors
$blue: #0065a0;
$dark-blue: #364051;
$grey: #5a5a5a;
$light-grey: #F7F7F7;
$off-black: #2a2a2a;
$red: #bb1000;
$light-blue: #464e5e;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 47rem;
